package buseduc.javacourse.prax.p05_arrays;

public class Prax_05_ {
    public static void main(String[] args) {

        /**
        * Практикум. Массивы
        */

        /**
        * Задание 1
        * Какой правильный набор индексов для массива ниже?
        * int[] arr = {2, 4, 6, 8 };
        *  0, 1, 2, 3
        *  1, 2, 3, 4
        *  2, 4, 6, 8
        *  0, 2, 4, 6
        */

           /**
        * Задание 2
        * Исправьте ошибку в коде, чтобы вывести первый и последний элемент массива.

        *  int[] arr = {2, 4, 6, 8 };
        *  System.out.println( arr[0] + " " + arr[8] );

        */

           /**
        * Задание 3
        * Исправьте ошибку в коде, чтобы вывести первые два и последний элемент массива.

        *  int[] y = new int[5];
        *  y[0] = 34;
        *  y[1] = 88;
        *  System.out.println( y[0] + " " + y[1] + " " + y[5] );

        */

           /**
        * Задание 4
        * Проинициализирован массив.

        *  int[] y = {2, 4, 7};

        *  Напишите код без использования чисел, чтобы вывести на печать последний элемент массива.

        */

        /**
        * Задание 5
        * У нас есть массив с данными о Джоне: возраст, вес, количество детей.
        * Мы хотим сделать массив с данным о Сэме, который того же возраста.
        * double[] john = new double[ 3 ]; // age, weight, number of children
        * john[0] = 33;
        * john[1] = 100;
        * double[] sam;
        * sam = john;
        * sam[2] = 2;
        * В чем тут ошибка? как это исправить? Напишите правильный код.

        */

       /**
        * Задание 6
        * Следует объявить массив currencyRates, в котором будут храниться курсы валют (ЕЦБ) - https://www.swedbank.ee/private/home/more/pricesrates/rates?language=RUS.
        * Инициализироватьв его не нужно.

        */

        /**
        * Задание 7
        * Следует объявить массив currencyRates, в котором будут храниться курсы валют (ЕЦБ) - https://www.swedbank.ee/private/home/more/pricesrates/rates?language=RUS.
        * Курсы хранятся в алфавитном порядке (по аббревиатурам валют)
        * Проинициализировать его по числу валют на веб-странице.
        * Записать в него курсы валют CAD, CZK, TRY, RON
        */

        /**
        * Задание 8
        * Добавить в массив currencyRates новую валюту - VND (Vietnami dong) и ее курс (https://tavid.ee/valuuta-hinnakiri/)
        */

        /**
        * Задание 9
        * Создать массив currencyNames , в котором будут все аббревиатуры из https://www.swedbank.ee/private/home/more/pricesrates/rates?language=RUS и еще три валюты из https://tavid.ee/valuuta-hinnakiri/ , не упомянутые в первом списке.
        * Вывести массив, в котором эти валюты будут отсортированы:
        * В алфавитном порядке
        * В обратном алфавитном порядке.

        */

        /**
        * Задание 10
        * Создать массив currencyNames , в котором будут все аббревиатуры из https://www.swedbank.ee/private/home/more/pricesrates/rates?language=RUS и еще три валюты из https://tavid.ee/valuuta-hinnakiri/ , не упомянутые в первом списке.
        * Создать массив currencyRates, в котором будут соответствующие курсы валют.
        * Вывести на печать:
        * список в виде аббревиатура — курс валюты в алфавитном порядке аббревиатур
        * список в виде аббревиатура — курс валюты в порядке возрастания курсов валют.
        */


    }

}
