package buseduc.javacourse.prax.p05_arrays;

public class Prax_09_ {
    public static void main(String[] args) {

        /**
        * Практикум. Итог
        */

        /**
         * Задание 1
         Двумя способами напишите код, который поменяет местами значения переменных:

         int a = 19;
         int b = 153;

         */

        /**
         * Задание 2
         Вывести сумму и произведение цифр заданного натурального числа.
         Число вводится с клавиатуры

         Пример: число 325 —> сумма = 10 (3+2+5), произведение = 30 (3*2*5).
         */

        /**
         * Задание 3
         1. Ввести с клавиатуры число с количеством элементов массива.
         2. Создать массив с заданным количеством элементов и заполнить его случайными числами в диапазоне [-1000, 1000].
         3. Вывести на экран список элементов массива, которые меньше среднего арифметического элементов массива.

         */

        /**
         * Задание 4
         Написать программу, вычисляющую площадь геометрической фигуры.
         Ввести с клавиатуры тип вычисляемой фигуры (circle, rectangle, triangle). В случае треугольника речь идет о прямоугольном треугольнике.
         Если ввели круг, запросить радиус, если прямоугольник — длины двух сторон, если треугольник — длины катетов.
         Площадь круга — S=πR2, прямоугольника — S=ab, пр. треугольника — S=(ab)/2
         Программа должна вывести площадь фигуры.

         */

        /**
         * Задание 5
         Написать программу, которая просит ввести нечетное число n (размер квадрата) и выводит матрицу n * n,
         случайно заполненную значениями от 0 до n2 -1, без повторений.
         Если пользователь ввел четное число, программа просит сделать еще одну попытку.

         Пример:
         Please enter odd number:
         4
         4 is even number. Try again
         Please enter odd number:
         5
         	19	20	7	22	16
         	8	2	11	24	23
         	12	4	6	1	13
         	0	17	3	15	5
         	18	10	14	9	21


         */

        /**
         * Задание 6
         На основе задания 5 написать игру. После вывода матрицы на экран компьютер просит пользователя выбрать
         центральную строку (вертикальную или горизонтальную)
         У компьютера остается оставшаяся строка.
         Выигрывает тот, у кого сумма чисел в выбранной строке больше, чем у компьютера.

         Please enter odd number:
         5
         	19	20	7	22	16
         	8	2	12	24	23
         	11	4	6	1	13
         	0	17	3	15	5
         	18	10	14	9	21


         Please сhoose vertical (v) or horizontal (h)?
         v
         You win!


         */

        /**
         * Задание 7
         Компьютер загадывает случайное 4-значное число от 1023 до 9876. Цифры в числе не должны повторяться
         Пользователь вводит свой вариант ответа
         Компьютер говорит, сколько в введенном варианте цифр стоит на правильном месте (слоны), а сколько -
         на неправильном (зайцы).

         Пример:
         Введите число:
         => 1234
         1 слон, 2 зайца. Введите число:
         => 5234
         2 слона, 1 заяц. Введите число:
         => 5634
         Поздравляем! Разгадано за 3 попыток.

         */

        /**
         * Задание 8
         Используя массив engLetters, вывести матрицу букв 7 X 7
         Пользователь вводит слово, которое есть в матрице по горизонтали или по вертикали. (напр., OAT)
         Компьютер выводит координаты первой буквы слово и его расположение:
         OAT: строка 3, кол. 2, горизонтально.

         char[] engLetters =
                            {'E','E','E','E','T','T','T',
                            'A','A','A','A','O','O','O',
                            'O','I','I','I','N','N','N',
                            'S','S','S','H','H','H','R',
                            'R','R','D','D','L','L','C',
                            'U','M','W','F','G','Y','P',
                            'B','V','K','X','J','Q','Z'};

            K	D	M	R	F	A	R
        	L	S	E	W	I	O	L
        	J	O	A	T	V	C	I
        	A	B	E	E	X	G	Z
        	Q	N	O	O	H	R	H
        	I	P	Y	H	T	A	E
        	T	S	N	U	S	N	D

         */


    }

}
