package buseduc.javacourse.prax.p05_arrays;

public class Prax_08_ {
    public static void main(String[] args) {

        /**
        * Практикум. Ввод вывод
        */

        /**
         * Задание 1
         */

        /**
         * Задание 2
         */

        /**
         * Задание 3
         */


    }

}
