package buseduc.javacourse.prax.p05_arrays;

public class Prax_08_ {
    public static void main(String[] args) {

        /**
        * Практикум. Ввод вывод
        */

        /**
         * Задание 1

        Программа запрашивает с клавиатуры имя и выводит приветствие:

        Input your name:
        =>Vadim
        Hello Vadim!
        */

        /**
         * Задание 2

         Программа запрашивает с клавиатуры имя и выводит приветствие. Если имя содержит цифры, то выводит сообщение "Имя некорректное":

         Input your name:
         =>Vadim0
         Incorrect name!
        */


        /**
        * Задание 3

         Программа запрашивает с клавиатуры число. Как только пользователь вводит не число,
         программа говорит "До свидания!" и останавливается.

         Input number:
         =>1
         NEXT NUMBER: 1
         Input number:
         =>2
         NEXT NUMBER: 2
         Input number:
         =>12
         NEXT NUMBER: 12
         Input number:
         =>sdf
         Good bye!
        */




    }

}
