package buseduc.javacourse.prax.p05_arrays;

public class Prax_07_ {
    public static void main(String[] args) {

        /**
        * Практикум. Методы
        */

        /**
         * Задание 1

         Напишите метод для нахождения минимума из трех чисел.

         int min(int first, int second, int third)

         Вызовите его из статического метода psvm.

         * Повышенная сложность: метод должен уметь находить минимум из любого количества значений.
         */

        /**
         * Задание 2
         Напишите метод для нахождения среднего из трех чисел.

         double avg(int first, int second, int third)

         Вызовите его из статического метода psvm.

         * Повышенная сложность: метод должен уметь находить среднеe из любого количества значений.
         */

        /**
         * Задание 3
         Напишите метод, который для исходного числа выведет сумму его цифр.
         Пример:
         int num = 25;
         Вывод:
         7

         */

        /**
         * Задание 4
         Напишите метод, который для исходной строки выведет его средний символ.
         Пример:
         String str = "abc5efg";
         Вывод:
         5
         Если количество символов четное или строка пустая, следует вывести сообщение
         Не удалось найти средний символ!

         */

        /**
         * Задание 5
         Напишите метод, который для исходной строки выведет количество гласных (английских или русских).
         Пример:
         String str = "Полистратегия";
         Вывод:
         Количество гласных: 6
         Если гласных нет, следует вывести сообщение.
         Гласных не найдено

         */

        /**
         * Задание 6
         Напишите программу, которая:
         Случайно сгенерирует число
         Проверит, имеет ли оно целый корень (напр., 25 — 5).
         Если имеет:
         Проверит,четное ли оно
         Если четное — выведет сумму квадратов макс. пяти предыдущих целых чисел.
         Если нечтное — выведет сумму квадратов следующих пяти целых чисел
         Если не имеет корней
         Если четное — выведет ближайшее большее число, имеющее корни.
         Если нечетное — выведет ближайшее меньшее число, имеющее корни.

         * NB! Должно быть максимальное разбиение по методам!
         */

        /**
         * Задание 7

         Напишите программу, которая покажет, сколько принесет вклад в размере x евро за каждый год в течение y лет,
         если процентная ставка составляет z %
         Пример: x = 1000, y = 5, z = 10
         Вывод:
         years	total
         1		1100.0
         2		1210.0
         3		1331.0
         4		1464.1
         5		1610.51
         * Info: в Java метод может вызывать сам себя.
         */

        /**
         * Задание 8
         Напишите метод и подметоды, чтобы определить, корректность пароля.
         Правила для пароля следующие:
         Пароль состоит из 10 символов
         Пароль содержит только  буквы и цифры
         Пароль должен содержать как минимум 2 цифры.
         Если пароль не соответствует критериям, должно появляться адекватное сообщение об ошибке, например
         Пароль должен состоять только из букв и цифр!
         Если пароль правильный, должно появляться сообщение
         Пароль подходит.

         */

        /**
         * Задание 9
         Напишите программу путешествия по комнатам.
         Игрок ходит по комнатам, из каждой можно пойти в 4 комнаты (север - N, юг - S, восток - E, запад - W).
         В стартовой комнате у него 0 очков.
         У игрока есть 10 шагов. В каждой комнате игрок получает случайное число от 0 до 4 и идет в соответствующую комнату.
         0 - N, 1 - S, 2 - E, 3 - W
         Если он идет на восток или на юг - он получает +1 очко.
         Если он идет на запад или на север - он получает -1 очко.
         В каждой комнате должно отображаться, в какую комнату он зашел и его итоговое количество очков.
         Игрок выигрывает, если итоговое количество очков больше 0.

         */

        /**
         * Задание 10
         Напишите программу, которая удалит из массива заданное значение.
         Например:
         int array[] = {0,1,2,2,3,0,4,2};
         int array1[] = removeElement(array, 3);
         Итоговый массив:
         {0,1,2,2,0,4,2}

         * Tip Для копирования массива можно использовать метод
         Arrays.copyOf(oldArray, newLength);

         */

        /**
         * Задание 11
         Перепишите программу игры "Камень - ножницы - бумага"  (см. задание 11 из презентации "Условные переходы")
         с использованием отдельных методов для каждой операции.

         */

    }

}
