package buseduc.javacourse.prax.p04_if;

public class Prax_04_ {
    public static void main(String[] args) {

        /**
        * Практикум. Условные переходы
        */

        /**
         * Задание 1
         Есть следующий код. Видоизмените его так, чтобы программа вывела x y :
         int a = 4;
         int b = 6;
         if (a < b) {
            System.out.print("x");
         } else if (b > 5) {
            System.out.print("y");
         } else {
            System.out.print("z");
         }

         */

        /**
         * Задание 2
         Есть случайное число a от -10 до 10:
         int a = (int) (Math.random() * 10) - (int) (Math.random() * 10);

         Напишите код, который:
         выведет полученное число
         выведет текст (одну из строк ниже):
         отрицательное число
         положительное число

         */

        /**
         * Задание 3

         Есть три случайные числа. Напишите код, который выведет на экран максимальное число и в какую переменную оно записано.

         int a = (int) (Math.random() * 15);
         int b = (int) (Math.random() * 15);
         int c = (int) (Math.random() * 15);

         */

        /**
         * Задание 4
         Есть случайный год a от 0 до 2020:
         int a = (int) (Math.random() * 2020) ;
         Напишите код, который:
         выведет полученный год
         определит и выведет, високосный год или нет:
         високосный год
         обычный год

         */

        /**
         * Задание 5
         Формула дискриминанта квадратного уравнения: D= b2 - 4ac
         Количество корней квадратного уравнения:
         D > 0 —> 2 ; D == 0 —> 1; D < 0 —> 0;
         Есть следующие случайные числа. Выведите на экран, сколько корней есть у квадратного уравнения с такими коэффициентами.

         int a = (int) (Math.random() * 5);
         int b = (int) (Math.random() * 5);
         int c = (int) (Math.random() * 5);

         */

        /**
         * Задание 6
         Есть случайный номер дня недели a от 1 до 7:

         int a = (int) (Math.random() * 7) + 1;

         Напишите код, используя if  … else , который:
         выведет полученный номер
         определит и выведет название дня недели.

         */

        /**
         * Задание 7
         Найдите (объясните) и исправьте ошибки в следующем коде:
         int x = (int) (Math.random() * 5);
         switch (x) {
            case 1:
                x += 2;
                break;
            case 2:
                x++;
            case 3:
                x += 4;
            default:
                x += 2;
         }
         System.out.print(x);
         */

        /**
         * Задание 8
         Есть случайный номер дня недели a от 1 до 7:

         int a = (int) (Math.random() * 7) + 1;

         Напишите код, используя switch ... case, который:
         выведет полученный номер
         определит и выведет название дня недели.

         */

        /**
         * Задание 9
         Перепишите следующий код, чтобы он занимал 2 строки:

         int num = (int) (Math.random() * 10) - (int) (Math.random() * 10);
         if (num >= 0) {
            System.out.println(num);
            return;
         }
         System.out.println(-num);

         использовать тернарные операторы!

         */

        /**
         * Задание 10
         Напишите код, чтобы он проверял, начинается ли word с большой буквы, и если да, то выводил бы ___ is name,
         в противном случае — ___ is word
         String word = "John";
         Пример: John is name

         В помощь:
          word.charAt(0) — выдаст символ (char), с которого начинается String
         Character.isUpperCase(Сhar char) — выдаст boolean — является ли char прописной буквой

         Желательно использовать тернарные операторы!

         */

        /**
         * Задание 11
         Напишите программу игры "Камень - ножницы - бумага", в которой есть:
         2 игрока (a и b)
         Каждый игрок получает случайное число от 1 до 3
         (1 - камень, 2 - ножницы, 3 - бумага)
         Игра длится 3 кона.
         В конце каждого кона появляется сообщение, кто выиграл, например:
         "Игрок a (камень) выиграл игрока b (ножницы)"
         После 3-го кона выводится окончательный результат:
         "Счет 2:1. Победил игрок b"

         */

    }

}
